@import "./custom_colors";
@import url('https://fonts.googleapis.com/css2?family=Train+One&display=swap');


nav.navbar {
    height: 70px;
    border-bottom: 3px solid black;
    //border-radius: 10px;
    //background-color: #5ce1e6;
   
    .navbar-brand {  
      img {
        height: 40px;
        margin-top:15px;
      }
    }
    .logo{
      margin-top: 20px;
      margin-left: 10px;
      color: #5ce1e6;
      font-weight: bold;
      font-size: larger;
      font-family: 'Train One', cursive;
    }
  }

 /*  .navbar-logged{
    .navbar-menu{
      background-color: $custom-blue;  
    }
  } */

 /*  .column img
  {
    margin-left: 20px;
   position: absolute;
  } */